
*{
	margin: 0;
} 
/**:before,
*:after{
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	
	box-sizing: border-box;
	*/

html, body {
	height: 100%;
}

h1, h2, h3, h4, h5, h6, p
{
	margin-bottom: 20px;
}
/*header
{
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}*/	

nav
{
	position: fixed;
	width:100%;
	height: 50px;
	background-color: rgba(0,0,0,.5);
	z-index:99;
	text-align: center;

}
nav a
{
	text-decoration: none;
	color: #fff;
	margin-left: 30px;
	line-height: 50px;
}
/*.clear
{
	overflow: auto;
}*/


/*.clearfix:after
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
 
}*/
/*.nava
{
	text-align: center;
	font-size: 40px;
}*/
.sect
{
	height: 100%;
	background-size: contain;


}

/*.subSection{
	height: 50% ;
	background-color: yellow;
}*/
.sectOne
{
	background-image: url("../images/healthyfood.jpg");

}
.sectTwo 
{
	height: 50%;
	background-color: #fff;

}
.sectThree
{
	background-color: yellow;

}
.sectFour
{
	background-color: purple;
}
#intro
{
	float: left;
	border: 1px;
	padding: 20px;
	width: 32%;
}
#picture
{
	float: right;

}
img 
{
	display: block;
	margin: 0 auto;
	width: 450px;
}

#photos
{
	line-height: 0;

	-webkit-column-count: 4;
	-webkit-column-gap: 0px;
	-moz-column-count: 4;
	-moz-column-gap: 0px;
	column-count: 4;
	column-gap: 0px;
}
#photos img 
{
	width: 100% !important;
	height: auto !important;
}
.img-circle
{
	border-radius: 50%;
	height: 350px;
}

div.texthover{
	width:100%;
	display:block;
	position:relative;
	text-align: center !important;
	
}

div.texthover .overlay{
	position: absolute;
	top: 45%;
	width: 0;
	width: 100%;
	height: 45%;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.3);
	display:none;
}
div.texthover:hover .overlay{
	display: block;
}




 



