body{
	text-align: center;
	background-color: #000000;
	color: #FAF0ED;
	font-family: sans-serif;
	background: url("img_images/Health_and_Fitness");
}
#slogan{
	font-size: 30px;
}
h1{
	font-size: 40px;
	font-weight: 10px; 
}
p {
	font-size: 20px;
}
hr{
	width:200px;
}
.words{
	font-size: 20px;
	font-style: italic;
}
