body{
	text-align: center;
	background-image: url("images/Health-and-Fitness.jpg");
	bacgkround-size: cover;
	color: #fff;
	font-family: sans-serif;
}
#slogan{
	font-size: 30px;
}
h1{
	font-size: 40px;
	font-weight: 10px; 
}
p{
	font-size: 20px;
}