html{
	width: 100%;
	height: 100%;
}
body{
	text-align: center;
	background-color: #000000;
	color: #000000;
	font-family: sans-serif;
	background-image: url("../images/fitness.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;

}
@import url(https://fonts.googleapis.com/css?family=Pacifico);
h1{
	font-size: 40px;
	font-weight: 10px;
	color: #000000;
    font-family: 'Pacifico', cursive;
}
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
p {
	font-size: 20px;
	color: #000000;
	font-family: 'PT Sans', sans-serif;
}
hr{
	width:200px;
}
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
.words{
	font-size: 20px;
	font-style: italic;
	font-family: 'PT Sans', sans-serif;
}

